node_modules
dist
# Ignore bundler config.
/rails/.bundle

# Ignore the default SQLite database.
/rails/db/*.sqlite3
/rails/db/*.sqlite3-*

# Ignore all logfiles and tempfiles.
/rails/log/*
/rails/tmp/*
!/rails/log/.keep
!/rails/tmp/.keep

# Ignore pidfiles, but keep the directory.
/rails/tmp/pids/*
!/rails/tmp/pids/
!/rails/tmp/pids/.keep

# Ignore uploaded files in development.
/rails/storage/*
!/rails/storage/.keep
/rails/tmp/storage/*
!/rails/tmp/storage/
!/rails/tmp/storage/.keep

/rails/public/assets

# Ignore master key for decrypting credentials and more.
/rails/config/master.key
